<div class="info_card_list">
  <div class="info_card user_info">
    <div class="icon">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
    <div class="info_text">
      <h3 class="info_title">총 사용자 수</h3>
      <p class="info_content"><%= User.separate_comma(@users) %></p>
    </div>
  </div>
  <div class="info_card post_info">
    <div class="icon">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </div>
    <div class="info_text">
      <h3 class="info_title">총 게시글 수</h3>
      <p class="info_content"><%= @posts %></p>
    </div>
  </div>
  <div class="info_card comment_info">
    <div class="icon">
      <i class="fa fa-comments" aria-hidden="true"></i>
    </div>
    <div class="info_text">
      <h3 class="info_title">총 댓글 수</h3>
      <p class="info_content"><%= @comments %></p>
    </div>
  </div>
  <div class="info_card question_info">
    <div class="icon">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
    </div>
    <div class="info_text">
      <h3 class="info_title">질문 해결률</h3>
      <p class="info_content"><%= @question_accuracy %> %</p>
    </div>
  </div>
</div>



<div class="flex">
  <div style="display:inline-block; float:left; width:48%;" class="mx-2" >
    <div class="panel">
      <div class="panel_contents graph_panel_contents">
        <div class="graph_title">
          <h1>최근 1주일 신규 사용자</h1>
        </div>
        <div class="graph_container">
          <%= line_chart @recent_users.sort, colors: ["#f88379"], discrete: true %>
        </div>
        <div class="graph_content">
          <h1 class="graph_content"><%= @recent_users.values.sum %> 명</h1>
        </div>
      </div>
    </div>
  </div>
  <div style="width:48%; display:inline-block;" class="mx-2">
    <div class="panel">
      <div class="panel_contents graph_panel_contents">
        <div class="graph_title">
          <h1>최근 1주일 신규 게시글</h1>
        </div>
        <div class="graph_container">
          <%= line_chart @recent_posts.sort, colors: ["#4169e1"], discrete: true %>
        </div>
        <div class="graph_content">
          <h1 class="graph_content"><%= @recent_posts.values.sum %> 개</h1>
        </div>
      </div>
    </div>
  </div>

  <div style="width:30%; height:20%; display:inline-block;">
      <div id="panel">
        <div class="index_content">
          <div class="index_as_table panel" style="text-align:center;">
            <table border="0" cellspacing="0" cellpadding="0" id="index_table_withdraws" class="index_table index" paginator="true">
              <tbody>
                <tr class="row">
                  <th colspan="2"></th>
                </tr>
                <tr class="row">
                  <th class="bg-blue white center" colspan="2">최근 1주일 게시글 추이</th>
                </tr>
                <tr class="row">
                  <th class="center">전체</th>
                  <th class="center"><%= @weekly_posts %></th>
                </tr>
                <tr class="row">
                  <th class="center">자유게시글</th>
                  <th class="center"><%= @free_posts %></th>
                </tr>
                <tr class="row">
                  <th class="center">질문게시글</th>
                  <th class="center"><%= @question_posts %></th>
                </tr>
                <tr class="row">
                  <th class="center">답변게시글</th>
                  <th class="center"><%= @answer_posts %></th>
                </tr>
                <tr class="row">
                  <th class="center">수기게시판</th>
                  <th class="center"><%= @review_posts %></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>

  <div style="width:60%; height:20%; display:inline-block; float:right;">
    <div id="panel">
      <div class="index_content">
        <div class="index_as_table panel" style="text-align:center;">
          <table border="0" cellspacing="0" cellpadding="0" id="index_table_withdraws" class="index_table index" paginator="true">
            <tbody>
              <tr class="row">
                <th class="bg-blue white center" colspan="4">최근 1주일 베스트 인기 게시글</th>
              </tr>
              <tr class="row">
                <th class="center">추천수</th>
                <th class="center">게시글</th>
                <th class="center">작성자</th>
                <th class="center">지갑주소</th>
              </tr>
              <% @hot_posts.each do |hot_post| %>
                <tr class="row">
                  <th class="center"><%= hot_post.likes.count %></th>
                  <th class="center"><%= link_to hot_post.title, admin_posts_review_path(hot_post.posts_review&.id) %></th>
                  <th class="center"><%= link_to hot_post.user.name, admin_user_path(hot_post.user.id) %></th>
                  <th class="center"><%= hot_post.user.walletAddress%></th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $('#main_content').css({"background":"none","box-shadow":"none"}) // 불필요한 흰색 박스 제거 (active admin default css)
</script>
